<!DOCTYPE html>
<html ng-app="resizeDemo">
  <head>
    <meta charset="utf-8">
    <title>Angular Table Resize</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito|Pacifico" rel="stylesheet">

    <!-- Module styles -->
    <link rel="stylesheet" href="angular-table-resize.css">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="styles.css">
  </head>
  <body ng-controller="demoController">
    <header>
      <h1>angular-table-resize</h1>
      <h3 class="subtitle">demo</h3>
    </header>
    <main>
      <ul class="menu">
        <li>
          <button ng-click="resizeMode = 'FixedResizer'">
              Fixed
          </button>
        </li>
        <li>
          <button ng-click="resizeMode = 'OverflowResizer'">
              Overflow
          </button>
        </li>
        <li>
          <button ng-click="resizeMode = 'BasicResizer'">
              Basic
          </button>
        </li>
        <li>
          <button ng-click="table.reset()">
              Reset
          </button>
        </li>
      </ul>

      <div class="">
        <table rz-table rz-model="table" rz-mode="resizeMode" id="myTable">
            <thead>
                <tr>
                    <th id="colName">One</th>
                    <th id="colStatus">Two</th>
                    <th id="colNotes">Three</th>
                    <th id="colMore">Four</th>
                    <th id="colEvenMore">Five</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items">
                    <td>{{item}}</td>
                    <td>Medium</td>
                    <td>Short</td>
                    <td>A bit longer</td>
                    <td>And this one is very long</td>
                </tr>
            </tbody>
        </table>
      </div>
    </main>

    <!-- Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

    <!-- Application -->
    <script src="app.js"></script>

    <!-- Modules -->
    <script src="angular-table-resize.js"></script>

  </body>
</html>
