<!DOCTYPE html>
<html ng-app="DemoApp">
    <head>
        <!-- Standard Meta -->
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <!-- Site Properties -->
        <title>ngTableResize Demo</title>

        <!-- build:css css/semantic.css -->
        <link rel="stylesheet" href="../bower_components/semantic/dist/semantic.min.css">
        <!-- endbuild -->

        <!-- build:css css/index.css -->
        <link rel="stylesheet" href="./index.css" charset="utf-8">
        <link rel="stylesheet" href="../dist/table-resize.css">
        <!-- endbuild -->

    </head>
    <body ng-controller="main-controller">

        <!-- Page Contents -->
        <div class="content">

            <div class="main wrapper">
                <div class="wrapper">
                    <div class="torrent sidebar"></div>

                    <div class="main-panel" ng-show="show">
                        <div class="action header">
                            <div class="ui button green" ng-click="addItem()">
                                Add item
                            </div>
                            <div class="ui button red" ng-click="removeItem()">
                                Remove Item
                            </div>
                            <div class="ui button blue" ng-click="tableMode = 'FixedResizer'">
                                Fixed
                            </div>
                            <div class="ui button orange" ng-click="tableMode = 'OverflowResizer'">
                                Overflow
                            </div>
                            <div class="ui button purple" ng-click="tableMode = 'BasicResizer'">
                                Basic
                            </div>
                            <div class="ui button black" ng-click="notes = !notes">
                                Toggle Column
                            </div>

                            <div class="ui button" ng-click="profile = 'one'">
                                Profile One
                            </div>
                            <div class="ui button" ng-click="profile = 'two'">
                                Profile Two
                            </div>
                            <div class="ui button" ng-click="table.clearStorage()">
                                Clear Storage
                            </div>
                            <div class="ui button" ng-click="table.clearStorageActive()">
                                Clear Current
                            </div>
                        </div>
                        <div class="main-content">
                          <div class="">
                            <input type="text" ng-model="text" />
                            <table rz-table rz-mode="tableMode" rz-model="table" rz-profile="profile" rz-options="options" class="ui single line unstackable selectable fixed compact torrent table" id="myTable">
                                <thead>
                                    <tr>
                                        <th id="colName" rz-col="'colName'">Name</th>
                                        <th id="colStatus" rz-col="'colStatus'" class="four wide">
                                            Status</th>
                                        <th id="colNotes" rz-col="'colNotes'" ng-if="notes" class="four wide">
                                            Notes</th>
                                        <th id="colMore" rz-col="'colMore'" class="two wide">
                                            More</th>
                                        <th id="colEvenMore" rz-col="'colEvenMore'" class="one wide">
                                            Even More</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in items">
                                        <td>{{item}}</td>
                                        <td>Approved</td>
                                        <td ng-if="notes">None</td>
                                        <td>Even more none</td>
                                        <td>Black hole</td>
                                    </tr>
                                </tbody>
                            </table>
                          </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <!-- build:js scripts/vendor.js -->
        <script src="../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../bower_components/semantic/dist/semantic.min.js"></script>
        <script src="../bower_components/angular/angular.js" charset="utf-8"></script>
        <!-- endbuild -->

        <script src="./demo.js" charset="utf-8"></script>

        <!-- Directives -->
        <script src="../dist/angular-table-resize.js" charset="utf-8"></script>

    </body>

</html>
