<!DOCTYPE html>
<html ng-app="DemoApp">
    <head>
        <!-- Standard Meta -->
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <!-- Site Properties -->
        <title>ngTableResize Demo</title>

        <!-- build:css css/semantic.css -->
        <link rel="stylesheet" href="../bower_components/semantic/dist/semantic.min.css">
        <!-- endbuild -->

        <!-- build:css css/index.css -->
        <link rel="stylesheet" href="./index.css" charset="utf-8">
        <link rel="stylesheet" href="../dist/table-resize.min.css">
        <!-- endbuild -->

    </head>
    <body ng-controller="main-controller">

        <!-- Page Contents -->
        <div class="content">

            <div class="main wrapper">
                <div class="wrapper">
                    <div class="torrent sidebar"></div>

                    <div class="main-panel" ng-show="show">
                        <div class="action header">
                            <div class="ui button green" ng-click="addItem()">
                                Add item
                            </div>
                            <div class="ui button red" ng-click="removeItem()">
                                Remove Item
                            </div>
                            <div class="ui button blue" ng-click="tableMode = 'FixedResizer'">
                                Fixed
                            </div>
                            <div class="ui button orange" ng-click="tableMode = 'OverflowResizer'">
                                Overflow
                            </div>
                            <div class="ui button purple" ng-click="tableMode = 'BasicResizer'">
                                Basic
                            </div>
                        </div>
                        <div class="main-content" ng-include="'./table.html'">

                        </div>
                    </div>

                </div>

            </div>

        </div>

        <!-- build:js scripts/vendor.js -->
        <script src="../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../bower_components/semantic/dist/semantic.min.js"></script>
        <script src="../bower_components/angular/angular.js" charset="utf-8"></script>
        <!-- endbuild -->

        <script src="./demo.js" charset="utf-8"></script>

        <!-- Directives -->
        <script src="../dist/angular-table-resize.min.js" charset="utf-8"></script>

    </body>

</html>
