<!DOCTYPE html>
<table rz-table rz-mode="tableMode" rz-profile="profile" class="ui single line unstackable selectable fixed compact torrent table" id="myTable">
    <thead>
        <tr>
            <th id="colName" rz-col="'colName'">Name</th>
            <th id="colStatus" rz-col="'colStatus'" class="four wide">
                Status</th>
            <th id="colNotes" rz-col="'colNotes'" ng-if="notes" class="four wide">
                Notes</th>
            <th id="colMore" rz-col="'colMore'" class="two wide">
                More</th>
            <th id="colEvenMore" rz-col="'colEvenMore'" class="one wide">
                Even More</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in items">
            <td>{{item}}</td>
            <td>Approved</td>
            <td ng-if="notes">None</td>
            <td>Even more none</td>
            <td>Black hole</td>
        </tr>
    </tbody>
</table>
